@font-face {
  font-family: 图标字体;
  src: url(miao/mi/mi-iconfont.ttf);
}

.icon {
  font-family: 图标字体;
}

.icon-shopping-cart::before {
  content: '\E60C';
}

.icon-search::before {
  content: '\E623';
}